<!DOCTYPE html>
<html lang="en">
<head>
  <title>Covid Passport</title>
  <body>
    <body style="background-color:#55d3e6;"></body>
    <center>
        <h1>COVID-19 VACCINE PASSPORT</h1>
        <br><br><br>
        <br><br><br>
        <h2>Thank you for your patience</h2>
        <h2>Passport Generated Succesfully!</h2>
        <br><br><br>
        <br><br><br>
        <form method="post" action="/">

            <input type="submit" value="GO BACK" name="GO BACK"/>

    </form>
    </center>
  </body>
</head>
<body>