<!DOCTYPE html>
<html lang="en">
<head>
  <title>Covid Passport</title>
  <body>
    <body style="background-color:#55d3e6;"></body>
    <!-- <center><img src="{{ url_for('video_feed') }}" width="400" border="3"></center> -->
    <center>
        <h1>COVID-19 VACCINE PASSPORT</h1>
        <h2>GENERATE PASSPORT</h2>
        <br><br><br>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        <form action="" method="post">
            <p>
                <label for="name">Full Name</label>
                <input type="text" name="name">
            </p>
            <p>
                <label for="">DOB</label>
                <input type="text" name="dob">
            </p>
            <p>
                <label for="">Vaccine</label>
                <input type="text" name="vaccine">
            </p>
            <p>
                <label for="">Dose 1</label>
                <input type="text" name="dose1">
            </p>
            <p>
                <label for="">Dose 2</label>
                <input type="text" name="dose2">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </center>
  </body>
</head>
<body>